#mxgit-marker-start
*.launch
*.svn
.classpath
.mendix-cache
.project
.vscode

/.gradle/
/.mendix-cache
/gradle/
/gradlew
/gradlew.bat
/modeler-merge-marker
/releases

bin/
build/
proxies

src/releases

src/ObjectHandling/*.mpr.bak
src/ObjectHandling/*.mpr.left*
src/ObjectHandling/*.mpr.lock
src/ObjectHandling/*.mpr.right*
src/ObjectHandling/.mendix-cache
src/ObjectHandling/.settings
src/ObjectHandling/.svn
src/ObjectHandling/ObjectHandling_*.mpk
src/ObjectHandling/deployment
src/ObjectHandling/javasource/system/UserActionsRegistrar.java
src/ObjectHandling/javasource/system/actions/VerifyPassword.java
src/ObjectHandling/modeler-merge-marker
src/ObjectHandling/project-settings.user.json
src/ObjectHandling/theme-cache
src/ObjectHandling/userlib
src/ObjectHandling/vendorlib
